@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'keyframe.scss';
@import 'style.scss';
@import 'popup.scss';

$color_gr: #2A2828;
$color_ge: #A2A7A5;
$color_lge: #DAE2DF;
$color_be: #F6F4F4;

* {
    color: $color_be;
}

body {
    background-color: $color_ge;
}

li {
    font-size: 18px;
}


.todo {
    .title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    &__ {
        &item {
            width: 500px;
            margin: 20px;
        }

        &time{
            display: inline-block;
            width: 90px;
        }

        &ctn{
            display: inline-block;
            width: 200px;
        }

        &btnWrap {
            display: inline-block;
        }

        &high {
            &, & * {
            color: 	#FFD2D2;
            }
        }

        &medium{
            &, & * {
            color: #FFEEDD;
            }
        }

        &low {
            &, & * {
                color: 	#C4E1E1;
            }
        }
        
    }
}

.add_todo {
    background-color: $color_be;
    padding: 6px 15px;

    &,
    & * {
        color: $color_ge;
    }
}