@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'keyframe.scss';
@import 'style.scss';
@import 'popup.scss';

@mixin maxWidth_xl() {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin maxWidth_l() {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin maxWidth_m() {

    @media only screen and (max-width: 768px),
    (max-height: 768px) {
        @content;
    }
}

@mixin maxWidth_s() {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

$color_gr: #2A2828;
$color_ge: #A2A7A5;
$color_lge: #DAE2DF;
$color_be: #F6F4F4;

* {
    color: $color_be;
}

body {
    background-color: $color_ge;
}

ul {
    width: 400px;
    @include maxWidth_s() {
        width: 95%;
    }
}

li {
    font-size: 18px;
    display: inline-block;
    width: 100%;
}

header {
    padding: 15px;

    @include maxWidth_s() {
        padding: 10px 5px;
    }

    button {
        i {
            margin-right: 5px;
        }
    }
}



.todo {
    min-height: 60%;

    .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__ {
        &item {
            width: 500px;
            margin: 40px 20px;
            min-height: 80%;
            transition: margin 0.5s;

            @include maxWidth_s() {
                margin: 40px 5px;
            }

            li {
                @include maxWidth_s() {
                    display: inline-block;
                    width: 100%;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    &:not(:last-child) {
                        border-bottom: 1px dashed $color_lge;
                    }
                }
            }
        }

        &time {
            display: inline-block;
            width: 90px;
            transition: width 0.5s;
            vertical-align: top;
        }

        &ctn {
            display: inline-block;
            width: calc(100% - 90px - 70px);

            @include maxWidth_s() {
                float: right;
                width: 100%;
            }
        }

        &btnWrap {
            display: inline-block;
            width: 70px;
            display: inline-block;
            position: absolute;
            right: 0px;
        }

        &high {

            &,
            & * {
                color: #FFD2D2;
            }
        }

        &medium {

            &,
            & * {
                color: #FFEEDD;
            }
        }

        &low {

            &,
            & * {
                color: #C4E1E1;
            }
        }

    }
}

.add_todo {
    background-color: $color_be;
    padding: 6px 15px;

    &,
    & * {
        color: $color_ge;
    }
}