@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Regular.otf);
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'NotoSansTC';
}

html,
body,
body>div {
    height: 100%
}


ins {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    i {
        margin-right: 5px;
    }
}

i {
    &+* {
        margin-left: 7px;

    }
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 5px;
    border-bottom: 0.5px solid rgba(30, 30, 30, 0.5);
}

ul,
ol {
    list-style-type: none;
}

.h_ {
    &100 {
        height: 100%;
    }

    &80 {
        height: 80%;
    }

    &60 {
        height: 60%;
    }

    &40 {
        height: 40%;
    }

    &20 {
        height: 20%;
    }
}

.w_ {
    &100 {
        width: 100%;
    }

    &80 {
        width: 80%;
    }

    &60 {
        width: 60%;
    }

    &40 {
        width: 40%;
    }

    &20 {
        width: 20%;
    }
}


.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &.dir- {
        &c {
            flex-direction: column;
        }

        &c-rev {
            flex-direction: column-reverse;
        }

        &r {
            flex-direction: row;
        }

        &r-rev {
            flex-direction: row-reverse;
        }
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.hor- {
        &l {
            justify-content: flex-start;
        }

        &r {
            justify-content: flex-end;
        }

        &c {
            justify-content: center;
        }

        &sa {
            justify-content: space-around;
        }

        &sb {
            justify-content: space-between;
        }

        &se {
            justify-content: space-evenly;
        }
    }

    &.ver- {
        &t {
            align-content: flex-start;
        }

        &b {
            align-content: flex-end;
        }

        &c {
            align-content: center;
        }

        &sa {
            align-content: space-around;
        }

        &sb {
            align-content: space-between;
        }

        &se {
            align-content: space-evenly;
        }

        &str {
            align-content: stretch;
        }
    }

    &.item- {
        &t {
            align-items: flex-start;
        }

        &b {
            align-items: flex-end;
        }

        &c {
            align-items: center;
        }

        &base {
            align-items: baseline;
        }

        &str {
            align-items: stretch;
        }
    }
}

.title {
    text-align: center;
}

.form {
    &__ {
        &item {
            padding-bottom: 10px;

            label {
                display: inline-block;
                width: 80px;
            }
        }
    }
}