* {
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding: 0px;
}

ins {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

ul, ol {
    list-style-type: none;
}